{% extends "base.html"%} {% block title %}Projecten{% endblock %} {% block content 
%}
<h1 align="center">Projecten</h1>





<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/?text=Wijk icoon" alt="Wijk icoon">
        <div class="card-body">
        <h5 class="card-title">Wijk projecten</h5>
        <p class="card-text">Bekijk hier de projecten van uw wijk.</p>
        <a href="#" class="btn btn-primary">Wijk projecten</a>
    </div>
</div>

  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/?text=Huis icoon" alt="Huis icoon">
    <div class="card-body">
    <h5 class="card-title">Mijn projecten</h5>
    <p class="card-text">Bekijk hier uw projecten.</p>
    <a href="#" class="btn btn-primary">Mijn projecten</a>
    </div>
    </div>
  </div>
</div>

<ul class="list-group list-group-flush" id="project-list">
    {% for project in user.projects %}
    <li class="list-group-item">{{ project.text }}
        <button type="button" class="close" onclick="deleteProject('{{ project.id }}')">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>

    {% endfor %}
</ul>
<form method = "POST">
    <textarea name="project" id="project" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Voeg project toe</button>
    </div>
</form>
{% endblock %}
    
